{{#each this}}
  <li class='aside__item aside-category__item'>

    <a class='aside__link' href='#' data-id='{{id}}'>
      <span class='material-icons is-icon-hidden'>
        keyboard_arrow_right</span>{{name}}
    </a>
  </li>
{{/each}}