<aside class="aside is-hidden">

  <h1 class="visually-hidden">Главное меню</h1>

  <p class="aside__logo logo logo-is-hidden">
    <a class="logo__link" href="#">I <span class="material-icons logo__link--heart">favorite</span> FILM</a>
  </p>

  <div class="menu-wrap">

    <ul class="config__list">
      <li class="config__item config-menu__item theme" data-name="theme">
        <a class="config__link lang-aside-theme" href="#"><span
            class="material-icons material-theme-icons">dark_mode</span>
        </a>
      </li>

      <li class="config__item config-menu__item" data-name="lang">
        <p class="lang-button">
          <button class="lang-button__item lang-button--ua">UA</button>
          <button class="lang-button__item lang-button--en">EN</button>
        </p>
      </li>
    </ul>

    <ul class="aside__list aside-menu__list">

      <li class="aside__item aside-menu__item" data-name="topDay">
        <a class="aside__link aside__item--current lang-aside-day">
          <span class="material-icons is-icon-hidden">keyboard_arrow_right
          </span>Top day
        </a>
      </li>

      <li class="aside__item aside-menu__item " data-name="topWeek">
        <a class="aside__link lang-aside-week" href="#">
          <span class="material-icons">keyboard_arrow_right
          </span>Top week
        </a>
      </li>

      <li class="aside__item aside-menu__item favorites__item" data-name="favorites">
        <a class="aside__link lang-aside-favorites" href="#">
          <span class="material-icons is-icon-hidden">keyboard_arrow_right
          </span>Favorites
        </a>
      </li>

      <li class="aside__item aside-menu__item sign-in__item" data-name="signIn">
        <a class="aside__link sign-in__link lang-aside-sing" href="#">
          <span class="material-icons is-icon-hidden">keyboard_arrow_right
          </span>Sign in
        </a>
      </li>

    </ul>

  </div>

</aside>