<aside class="aside is-hidden">

  <h1 class="visually-hidden">Главное меню</h1>

  <p class="aside__logo logo logo-is-hidden">
    <a class="logo__link" href="#">I <span class="material-icons logo__link--heart">favorite</span> FILM</a>
  </p>

  <div class="menu-wrap">

    <ul class="aside__list aside-menu__list">

      <li class="aside__item aside-menu__item" data-name="topDay">
        <a class="aside__link aside__item--current" href="#">
          <span class="material-icons is-icon-hidden">keyboard_arrow_right
          </span>Топ дня
        </a>
      </li>

      <li class="aside__item aside-menu__item " data-name="topWeek">
        <a class="aside__link " href="#">
          <span class="material-icons">keyboard_arrow_right
          </span>Топ недели
        </a>
      </li>

      <li class="aside__item aside-menu__item" data-name="favorites">
        <a class="aside__link" href="#">
          <span class="material-icons is-icon-hidden">keyboard_arrow_right
          </span>Избранное
        </a>
      </li>

      <li class="aside__item aside-menu__item" data-name="lang">
        <a class="aside__link" href="#">
          <span class="material-icons is-icon-hidden">keyboard_arrow_right
          </span>Сменить язык
        </a>
      </li>

      <li class="aside__item aside-menu__item" data-name="theme">
        <a class="aside__link" href="#">
          <span class="material-icons is-icon-hidden">keyboard_arrow_right
          </span>Сменить тему
        </a>
      </li>

      <li class="aside__item aside-menu__item sign-in__item" data-name="signIn">
        <a class="aside__link sign-in__link " href="#">
          <span class="material-icons is-icon-hidden">keyboard_arrow_right
          </span>Sign in
        </a>
      </li>

    </ul>

    <ul class="aside__list aside-category__list">
      <li class="aside__item aside-category__item" data-id="28">
        <a class="aside__link" href="#">
          <span class="material-icons is-icon-hidden">
            keyboard_arrow_right
          </span>
          Action
        </a>
      </li>


      <li class="aside__item aside-category__item"><a class="aside__link" href="#"><span
            class="material-icons is-icon-hidden">keyboard_arrow_right</span>Приключения</a>
      </li>
      <li class="aside__item aside-category__item"><a class="aside__link" href="#"><span
            class="material-icons is-icon-hidden">keyboard_arrow_right</span>Триллер</a></li>
      <li class="aside__item aside-category__item"><a class="aside__link" href="#"><span
            class="material-icons is-icon-hidden">keyboard_arrow_right</span>Криминал</a></li>
      <li class="aside__item aside-category__item"><a class="aside__link" href="#"><span
            class="material-icons is-icon-hidden">keyboard_arrow_right</span>Документальные</a>
      </li>
      <li class="aside__item aside-category__item"><a class="aside__link" href="#"><span
            class="material-icons is-icon-hidden">keyboard_arrow_right</span>Семейные</a></li>
      <li class="aside__item aside-category__item"><a class="aside__link" href="#"><span
            class="material-icons is-icon-hidden">keyboard_arrow_right</span>Исторические</a>
      </li>
      <li class="aside__item aside-category__item"><a class="aside__link" href="#"><span
            class="material-icons is-icon-hidden">keyboard_arrow_right</span>Драма</a></li>
      <li class="aside__item aside-category__item"><a class="aside__link" href="#"><span
            class="material-icons is-icon-hidden">keyboard_arrow_right</span>Ужасы</a></li>
      <li class="aside__item aside-category__item"><a class="aside__link" href="#"><span
            class="material-icons is-icon-hidden">keyboard_arrow_right</span>Вестерн</a></li>
      <li class="aside__item aside-category__item"><a class="aside__link" href="#"><span
            class="material-icons is-icon-hidden">keyboard_arrow_right</span>Мюзикл</a></li>
    </ul>

  </div>

</aside>