<header>
  <p class="header__logo logo">
    <a class="logo__link" href="#">I <span class="material-icons logo__link--heart">favorite</span> FILM</a>
  </p>

  <form class="form header__form">
    <input class="form__input" type="text" placeholder="Search">
    <button class="form__button" type="submit">
      <span class="form__button--icon material-icons">search</span>
    </button>
  </form>

  <a class="header__btn sign-in__btn" href="#">Signin</a>

  <button class="header__hamburger hamburger hamburger--spin hamburger-js" type="button"> <!-- is-active -->
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</header>