.sign-in__btn {
  display: none;
  align-items: center;
  margin-top: 17px;

  padding: 15px;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  background-color: #ea5f5f;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;

  @media screen and (min-width: 640px) {
    display: flex;
  }
}